body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/020/133/original/halden2.jpg?1635620542");
  background-repeat: no-repeat;
  background-position: center;
  height: 100%;
  width: 100%;
}
:root {
  --primary-color: white;
  --secondary-color: rgba(255, 255, 255, 0.5);
}

h1 {
  color: var(--primary-color);
  margin-top: 10px;
  text-align: center;
}

tr {
  color: var(--primary-color);
}

h6 {
  color: var(--secondary-color);
  font-size: 12px;
  margin: 0;
  padding-bottom: 10px;
  text-align: center;
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

.container {
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.navbar-container {
  align-items: left;
  display: flex;
}

.search-navbar {
  padding: 5px 0;
}

.search-navbar li {
  display: inline-block;
  text-decoration: none;
}

.temp-heading {
  font-size: 70px;
}

.weather-info {
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.sky-description {
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 300;
  text-align: center;
}

.sky-description:first-letter {
  text-transform: capitalize;
}

.units {
  color: var(--secondary-color);
  font-size: 27px;
  font-weight: 400;
  vertical-align: 30px;
}

.feels-like {
  color: var(--secondary-color);
  text-align: center;
  font-style: italic;
  font-size: 10px;
}

.today-date {
  color: var(--primary-color);
  font-size: 20px;
  font-style: italic;
  font-weight: 300;
  text-align: center;
}

.first-forecast {
  margin: 10px 0;
  font-size: 15px;
}

.table-heading {
  color: var(--secondary-color);
  font-size: 10px;
  font-weight: 500;
}

.table {
  background-color: rgba(0, 0, 0, 0.3);
}

.col {
  background-color: rgba(0, 0, 0, 0.3);
  color: var(--primary-color);
  text-align: center;
}

.hourly-forecast td {
  font-size: 15px;
}

.min-temp-daily,
.min-temp {
  color: var(--secondary-color);
}
